*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: azure ;
    scroll-behavior: smooth;
    
    /* nav bar styling */
.nav{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 30px 50px;
    

}

}
.nav h3 a{
    text-decoration:none;
    color: white;
}
.page2{
    display: flex;
    /* margin-right: 2%;
    margin-top: 2%; */
}

.dark-mode{
    color: white;
    background-color: black;
}
.light-mode {
    background-color: white;
    color: black;
}
.light-mode .nav h3 a{
    background-color: white;
    color: black;
}
.page2 h3 a:hover{
   border-bottom: 3px solid white;
    transition:border-bottom 1s ease-in;
}
.light-mode .page2 a:hover{
    border-bottom: 3px solid black;
    transition:border-bottom 1s ease-in;
    
}
.content{
display: flex;
justify-content: space-between;

}
.light-mode .content{
    background-color: white;
}
.home img {
    height: 500px;
    width: 500px;
    margin-right: 50px;
   
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 80%);
  }
 .mb-4{
    font-weight: 800;
 }
 #typing-animation{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(20, end) infinite;
 }
 .light-mode #typing-animation{
  color: black;  
 }
.h1{
    height: 300px;
    width: 500px;
    margin-top: 250px;
    margin-left: 150px;
    font-size: 30px;

}
.btn-class button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin-left: 45%;
    background-color: white;
    color: black;
    margin-top: 20px;
    
}
.btn-class button:hover{
    background-color: rgb(252, 213, 156);
    cursor: pointer;
}
.light-mode .btn-class{
    background-color: white;
}

/* pr ojects */
.project{
    height: 480px;
    padding: 2px 2px 2px 2px;
    width: 100%;
    text-align: center;
   
}
.project-tital{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 28%;
    height: 30px;
    width: 600px;
    border-radius: 10px;
    border: 2px solid rgb(244, 241, 241);
   padding-bottom: 7px;
   background-color:rgb(125, 7, 125);
  
}
/* .project .project-tital :hover{
  background-color: rgb(240, 147, 7);
} */

.mainbox{
    display: flex;
   justify-content:space-around;
   margin-top: 2%;
}
.box{
    height: 410px;
    width: 300px;
    border:2px solid white;
    border-radius: 20px;
}
 .light-mode .project-tital{
     margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 28%;
    height: 30px;
    width: 600px;
    border-radius: 10px;
    border: 2px solid black;
   padding-bottom: 5px;
   color: black;
}
 .light-mode .project{
    background-color: white;
 }.light-mode .box{
    border: 2px solid black;
 }
 .light-mode .main{
    background-color: white;
 }
 .skill{
    margin-top: 2%;
    text-align: center;
 }
 .html1{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
 }
 .light-mode .html1{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid black;
 }
 .image1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
 }
 .image2{
  display: flex;
  justify-content:space-evenly;
  padding-top: 50px;
 
 }
 .bootstrap img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid white;

 }
 .light-mode .bootstrap img{
  border: 2px solid black;
 }
 .spring img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid white;
 }
 .light-mode .spring img{
  border: 2px solid black;
 }
 .contact{
    height: 520px;
    width: 100%;
    text-align: center;

 }
 .form{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
 }
.form input{
    height:30px;
    width: 350px;
    margin-left: 38%;
    
    margin-top: 5px;
    border: 1px solid black;
}
.form label{
    margin-left: 10px; 
    font-size:large;
}
.form .message{
    height: 60px;
    width: 350px;
}
.form button{
    height: 25px;
    width: 90px;
    margin-left: 48%;
    border-radius: 20px;
}
.footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none  ;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color:white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  /* projects */

  .login-page{
   height: 300px;
   width: 280px;
   margin-top: 7px;
   border-radius: 20px;
   border: 1px solid brown;
  }
  .box h3{
    padding: 10px;
  }
  .box a{
    text-decoration: none;
  }